@import "tailwindcss";

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@layer components {
  nav .active {
    @apply bg-[#d7dde4] text-[#0066FF] font-bold;
  }
}

body {
  background-color: #f0f2f5;
}


